*.json
bin/
*.tmp
*~
.DS_Store
*.zip
*.exe
*.json
*.log
*.token
/server
/client
go1.26/
/client_config.json
/server_config.json
/client_logs.txt
/server_logs.txt
/curl_logs.txt
creds/
data-client/
data-server/
.tmp*/
